:root {
  /* Define the theme colors, so that they remain aligned throughout the page(s). */
  --theme-opaque-container: rgba(0, 0, 0, 0.55);
  --theme-background-main: rgb(0, 217, 0);
  --theme-error: rgb(255, 0, 0);
  --theme-warning: rgb(255, 153, 51);
  --theme-text-main: white;
  --theme-text-alternate: black;
}

.battery-status {
  border-radius: 0.2em;
  height: 1.8em;
  margin-top: 0.5em;
}

.battery-status-low {
  background: var(--theme-error);
  width: 15%;
}

.battery-status-medium {
  background: var(--theme-warning);
  width: 40%;
}

.battery-status-high {
  background: var(--theme-background-main);
  width: 65%;
}

body {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.general-container {
  background-color: var(--theme-opaque-container);
  border-radius: 1%;
  font-family: Tahoma, sans-serif;
  margin: auto;
  padding: 5%;
  width: 50%;
}

header {
  color: var(--theme-background-main);
  text-align: center;
}

#logo {
  width: 25%;
  margin-top: 10%;
}

nav {
  background-color: var(--theme-background-main);
  padding: 0.8em;
  text-align: center;
}

/* NOTE: we could have specified it through main>section, but it would be less robust in case we'd
    want to add some other vehicle, let's say <section class="bike">...</> */
.scooter {
  color: var(--theme-text-main);
  margin-top: 1.5em;
}

/* NOTE: we could have specified it through section>label, but it would be less robust in case we'd
    want to add some other nested labels with different characteristics. */
.scooter-label {
  font-size: 1.2em;
  font-weight: bold;
}
